.web_frame{
	width: 37.5rem;
	overflow-x: hidden;
	font-family: 'Microsoft Yahei';
}
.content_box{
	border-bottom: 1rem solid #f0f0f0;
}
.logo_head{
	width: 37.5rem;
	height: 5rem;
	background: #2aba80;
	text-align: center;
}
.logo_head img{
	width: 8.1rem;
	margin-top: 1.2rem;
}
.nav_box{
	padding-top: 0.5rem;
}
.nav_box a{
	float: left;
	display: inline-block;
	line-height: 3.8rem;
	margin: 0 1rem; 
	font-size: 1.3rem;
	color: #797979;
}
.nav_box .now{
	border-bottom: 0.2rem solid #00be7b;
	color: #00be7b;
}
.banner_box{
	width: 37.5rem;
	height: 16.4rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container img{
	width: 100%;
}
.content_box > h3{
	font-size: 1.8rem;
	color: #333333;
	text-align: center;
	line-height: 1.8rem;
	padding-top: 2rem;
	margin-bottom: 0.4rem;
}
.content_box > p{
	font-size: 0.9rem;
	color: #bcbcbc;
	text-align: center;
	line-height: 0.9rem;
	font-family: 'Arial';
	margin-bottom: 1rem;
}
.content_box > span{
	display: block;
	width: 2rem;
	height: 1px;
	background: #cacaca;
	margin: 0 auto;
	margin-bottom: 1.75rem;
}
.content_one .news_box{
	width: 37.5rem;
	padding-bottom: 1.9rem;
}
.news_box li{
	width: 35rem;
	height: 9.3rem;
	margin: 0 auto;
}
.content_one .news_box li:nth-child(1){
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 1.75rem;
}
.link_img_box img{
	width: 11.2rem;
	height: 7.3rem;
}
.news_content_link_box{
	width: 22.2rem;
}
.news_title_link_box h3{
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: #1b1b1b;
}
.lebel_msg_box{
	font-size: 1rem;
	line-height: 1.1rem;
	margin-top: 1.8rem;
	color: #a1a1a1;
}
.lebel_source{
	margin-right: 2.3rem;
}
.news_box .more_news_link{
	width: 9.4rem;
	height: 2.4rem;
	border: 1px solid #2aba80;
	border-radius: 1.2rem;
}
.more_news_link a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1.3rem;
	line-height: 2.4rem;
	color: #00be7b;
	text-align: center;
}
.academic_support_box{
	text-align: center;
}
.academic_support_box > img{
	width: 26.95rem;
	height: 13.35rem;
	margin-bottom: 1.5rem;
}
.academic_title p{
	padding: 0 1.5rem;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #828282;
	text-align: left;
	margin-bottom: 1.6rem;
}
.academic_partner_box{
	padding-bottom: 1rem;
}
.academic_support_box .swiper-slide{
	width: 37.5rem;
	text-align: center;
	padding-bottom: 3rem;
}
.academic_support_box .swiper-slide img{
	width: 35.5rem;
}
.Significance_lunbo_box{
	text-align: center;
	padding-bottom: 1rem;
}
.Significance_lunbo_box p{
	padding: 0 1.7rem;
	margin-top: 1rem;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #979797;
	text-align: left;
	margin-bottom: 1.5rem;
}
.Significance_lunbo_box .top_img{
	width: 34.15rem;
}
.Significance_lunbo_box .swiper-container{
	padding-bottom: 3rem;
}
.content_four{
	background: #00bd76;
	text-align: center;
}
.content_four a img{
	width: 34.65rem;
}
.about_us_box p{
	margin-top: 1.1rem;
	box-sizing: border-box;
	width: 37.5rem;
	padding: 0 1.5rem;
	color: #FFF;
	font-size: 1rem;
	line-height: 1.8rem;
	text-align: left;
	padding-bottom: 1.1rem;
}
.supprt_partner_title{
	width: 17.7rem;
	margin: 0 auto;
	padding-top: 2rem;
}
.supprt_partner_title h3{
	font-size: 1.8rem;
    color: #acacac;
    text-align: center;
    line-height: 1.8rem;
    padding-top: 2rem;
    margin-bottom: 0.4rem;
}
.supprt_partner_title p{
    font-size: 0.9rem;
    color: #acacac;
    text-align: center;
    line-height: 0.9rem;
    font-family: 'Arial';
    margin-bottom: 1rem;
}
.supprt_partner_title span{
	display: block;
	width: 2rem;
	height: 1px;
	background: #acacac;
	margin: 0 auto;
	margin-bottom: 1.75rem;
}
.active h3{
	color: #333;
}
.supprt_img_box{
	height: 30rem;
	overflow: hidden;
}
.pinpai{
	width: 31.7rem;
	display: block;
	margin: 0 auto;
}
.hezuo{
	width: 36.5rem;
	display: none;
	margin: 0 auto;
}
.content_six li{
	width: 11.4rem;
	margin-left: 0.8rem;
}
.content_six li img{
	width: 100%;
}
.content_six li p{
	margin-top: 1rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.2rem;
	padding-bottom: 1.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #a2a2a2;
}
.content_seven{
	background: url('../img/base_bg.jpg') no-repeat center;
	background-size: cover;
	height: 13.95rem;
}
.base_title{
	padding-top: 1.3rem;
}
.base_title h3{
	float: left;
	margin-top: 0.3rem;
	margin-left: 1rem;
	border-left: 0.45rem solid #FFF;
	padding-left: 0.9rem;
	font-size: 1.5rem;
	line-height: 1.6rem;
	color: #FFF;
}
.base_title span{
	float: left;
	font-size: 0.9rem;
	line-height: 0.9rem;
	margin-top: 1rem;
	color: #FFF;
	font-family: 'Arial';
	margin-left: 1rem;
	margin-right: 11.5rem;
}

.base_title a{
	float: left;
	font-size: 0.9rem;
	line-height: 2.1rem;
	color: #FFF;
	border: 1px solid #FFF;
	padding: 0 1rem;
	border-radius: 0.75rem;
}
.hosital_list_box{
	padding-top: 2.9rem;
	width: 37.5rem;
}
.hosital_list_box li{
	float: left;
	width: 25%;
	text-align: center;
	color: #FFF;
	font-size: 0.9rem;
	line-height: 0.9rem;
	margin-bottom: 1.6rem;
}
.footer{
	width: 37.5rem;
	height: 3.65rem;
	padding-top: 0.85rem;
	background: #292929;
	text-align: center;
	color: #777;
	font-size: 0.6rem;
	line-height: 0.9rem;
}
/*关于我们*/
.about_banner_box img{
	width: 100%;
}
.introduce_text_box{
	padding : 1.8rem 0;
}
.about_title_box{
	height: 2.5rem;
	border-left: 0.3rem solid #2aba80;
	margin-left: 1.2rem;
	padding-left: 0.8rem;
}
.about_title_box h3{
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #333;
	margin-bottom: 0;
}
.about_title_box span{
	display: block;
	font-size: 0.6rem;
	line-height: 0.6rem;
	font-family: 'Arial';
	margin-top: 0.4rem;
	color: #bcbcbc;
}
.introduce_img_box{
	text-align: center;
	width: 37.5rem;
	margin-top: 2rem;
}
.introduce_img_box img{
	width: 27.25rem;
}
.introduce_text_box p{
	font-size: 0.9rem;
	line-height: 1.5rem;
	color: #979797;
	padding: 0 1.2rem;
	text-indent: 2em;
	margin-top: 1.6rem;
}
.our_mission_box{
	width: 37.5rem;
	height: 21.9rem;
	padding-top: 2.3rem;
	box-sizing: border-box;
	background: url('../img/mission_bg.jpg') no-repeat center;
	background-size: cover;
	margin-bottom: 0.8rem;
}
.our_mission_box > h3{
	font-size: 1.8rem;
	line-height: 1.8rem;
	margin-bottom: 0.5rem;
	text-align: center;
	color: #333;
}

.our_mission_box > span{
	font-family: 'Arial';
	font-size: 0.9rem;
	line-height: 0.9rem;
	margin-bottom: 0.5rem;
	text-align: center;
	color: #bcbcbc;
	display: block;
	text-align: center;
}
.our_mission_box > b{
	display: block;
	width: 2rem;
	height: 1px;
	background: #cacaca;
	margin: 0 auto;
}
.our_mission_box p{
	margin-top: 1.5rem;
	margin-bottom: 2.2rem;
	text-align: center;
	color: #676767;
	font-size: 0.9rem;
	line-height: 1.8rem;
}
.our_mission_box a{
	display: block;
	margin: 0 auto;
	width: 7.7rem;
	height: 2.1rem;
	border: 1px solid #333;
	color: #242424;
	text-align: center;
	font-size: 1.2rem;
	line-height: 2.1rem;
}
.biotope_box{
	height: 27.6rem;
	padding-top: 1.75rem;
	background: url('../img/vision_bg.jpg') no-repeat center;
	background-size: cover;
	margin-bottom: 0.8rem;
}
.biotope_img_box{
	width: 37.5rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}
.biotope_img_box img{
	width: 25.1rem;
}
.biotope_box p{
	padding-left: 4.25rem;
	font-size: 0.9rem;
	line-height: 1.8rem;
	color: #676767;
	margin-top: 1.3rem;
}
.biotope2_box{
	background: url('../img/philosophy_bg.jpg') no-repeat center;
	background-size: cover;
}
.kouhao_box img{
	width: 37.5rem;
}

.news_col_box{
	padding-top: 1rem;
	background: #f0f0f0;
	padding-bottom: 1rem;
}
.news_col_box li {
	width: 37.5rem;
	height: 12.2rem;
	box-sizing: border-box;
	padding: 2.8rem 1.2rem 0;
	border: none;
	background: #FFF;
	margin-bottom: 1rem;
}

/*代理商*/
.agent_apply_box{
	margin-top: 1rem;
	padding-bottom: 2rem;
}
.agent_apply_box .title_box{
	height: 2.5rem;
	width: 37.5rem;
	background: #f2f2f2;
	padding-top: 1rem;
}
.agent_apply_box .title_box h3{
	margin-left: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 1.5rem;
	padding-left: 0.7rem;
	border-left: 0.15rem solid #2aba80;
	color: #393939;
}
.agent_apply_msg_box{
	padding-top: 2rem;
}
.agent_apply_msg_box li{
	padding-left: 1.4rem;
	margin-bottom: 2rem;
	overflow: hidden;
}
.agent_apply_msg_box li span{
	color: #3d3d3d;
	width: 6.35rem;
	height: 3.1rem;
	line-height: 3.1rem;
	font-size: 1.2rem;
	float: left;
}
.agent_apply_msg_box li b{
	color: #ea3323;
	padding-top: 1.2rem;
	line-height: 1.2rem;
	font-size: 1.2rem;
	float: left;
	margin-right: 0.8rem;
}
.agent_apply_msg_box li .inputtext{
	float: left;
	color: #3d3d3d;
	width: 19.1rem;
	padding-left: 0.8rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.2rem;
	float: left;
	border: 1px solid #c9c9c9;
}
.select_box{
	float: left;
	width: 26.5rem;
}
.select_box select{
	float: left;
	width: 12.5rem;
	height: 2.9rem;
	border: 1px solid #c9c9c9;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 2.9rem;
	background: #f5f5f5;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.select_box #area1{
	margin-right: 1.25rem;
}
.select_box textarea{
	width: 26.4rem;
	box-sizing: border-box;
	padding: 0.3rem;
	font-size: 1.2rem;
	line-height: 1.4rem;
	height: 5.4rem;
}
.submit_agent_btn{
	display: block;
	width: 9.2rem;
	height: 3.3rem;
	line-height: 3.3rem;
	font-size: 1.5rem;
	margin: 0 auto;
	text-align: center;
	background: #2aba80;
	color: #FFF;
	border-radius: 0.5rem;
}
.hospital_level{
	float: left;
	color: #3d3d3d;
	width: 19.9rem;
	padding-left: 0.8rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.2rem;
	float: left;
	border: 1px solid #c9c9c9;
	background: #f5f5f5;
}

/*新闻详细*/
.news_con_box{
	background: #f0f0f0;
	padding: 1.5rem;
}
.news_con_box > h3{
	width: 34.5rem;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color:  #333333;
	margin-bottom: 0.6rem;
}
.source_box{
	margin-bottom: 1.8rem;
}
.source_box span{
	font-size: 1rem;
	line-height: 1.1rem;
	color: #929292;
	margin-right: 1rem;
}
.news_text_box{
	background: #FFF;
	padding: 0.6rem 1.5rem;
	font-size: 1rem;
	line-height: 2rem;
	color: #707070;
}
.news_text_box img{
	display: block;
	margin:0 auto;
	margin-top: 1rem;
	width: 27.5rem;
}
.news_page_box{
	margin-top: 1rem;
	height: 2.2rem;
	padding-top: 1rem;
	border-top: 1px dashed #aeaeae;
}
.news_page_box a{
	font-size: 1rem;
	line-height: 1rem;
	max-width: 14em;overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #707070;
}
.jobs_box{
	margin-top: 1rem;
	background: #f2f2f2;
	padding-bottom: 3.5rem;
}
.jobs_title_box{
	height: 2.5rem;
	padding-left: 1.6rem;
	padding-top: 1rem;
}
.jobs_title_box h3{
	font-size: 1.5rem;
	line-height: 1.6rem;
	padding-left: 0.5rem;
	border-left: 0.15rem solid #2aba80;
}
.jobs_box ul{
	background: #FFF;
	padding: 0 1.5rem;
	overflow: hidden;
}
.jobs_box ul li{
	border-bottom: 1px solid #f0f0f0;
	height: 7.25rem;
}
.jobs_box ul li h4{
	font-size: 1.3rem;
	line-height: 3.3rem;
	margin-top: 1rem;
	color: #393939;
}
.jobs_box ul li p{
	font-size: 1rem;
	line-height: 1rem;
	color: #abaaaa;
}
.jobs_box ul li span{
	color: #5cb784;
	font-size: 1rem;
	line-height: 1rem;
	margin-top: 2.4rem;
	float: right;
}
.publisher p{
	height: 3.2rem;
	line-height: 3.2rem;
	padding-left: 1.5rem;
	background: #FFF;
	font-size: 1rem;
	color:  #abaaaa;
}
.job_detail_box{
	background: #FFF;
	margin-top: 1rem;
}
.jobs_msg{
	padding: 0 1.5rem 1rem;             
	font-size: 1rem;
	line-height: 1.6rem;
	color: #abaaaa;
}
.error{
	border: 1px solid #F00 !important;
}
.agent_success_box{
	height: 27.3rem;
	padding-top: 10.4rem;
	text-align: center;
}
.agent_success_box img{
	width: 6rem;
}
.agent_success_box p{
	line-height: 6rem;
	font-size: 1.2rem;
	color: #363636;
}
.agent_success_box a{
	line-height: 2.3rem;
	font-size: 1.5rem;
	color: #2aba80;
}







